body { 
  font-family: Verdana; 
  font-size: 12px; 
  color: #444; 
} 
#container { 
  width: 100%; 
  margin: 150px auto; 
  background-color: #eee; 
  overflow: hidden; 
  padding: 15px; 
}   
#main { 
  width: 490px; 
  float: left; 
} 
#sidebar { 
  width: 200px; 
  float: left; 
}